<div class="row mb-2  col-3">
  <select class="form-select" aria-label="Default select example">
    <option selected>Все</option>
    <option value="1">Торговые</option>
    <option value="2">Военные</option>
    <option value="3">Логистические</option>
  </select>
</div>

<div class="row mb-2">
  <div class="col-4">
    <h3>Откуда</h3>
  </div>
  <div class="col-4">
    <h3>Текущее</h3>
  </div>
  <div class="col-4">
    <h3>Куда</h3>
  </div>
</div>
<div class="card" *ngFor="let _ of [].constructor(5)">
  <div class="card-body">
    <app-mission-view></app-mission-view>

  </div>
</div>

