<div class="mt-n3 mb-n2" data-render="apexchart" data-type="donut" data-title="Visitors" data-height="45"
     style="min-height: 41.9px;">
  <div id="apexchartsbisflxju" class="apexcharts-canvas apexchartsbisflxju apexcharts-theme-light"
       style="width: 132px; height: 41.9px;">
    <svg id="SvgjsSvg1160" width="132" height="41.9" xmlns="http://www.w3.org/2000/svg" version="1.1"
         class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"
         style="background: transparent;">
      <foreignObject x="0" y="0" width="132" height="41.9">
        <div class="apexcharts-legend" xmlns="http://www.w3.org/1999/xhtml"></div>
      </foreignObject>
      <g id="SvgjsG1162" class="apexcharts-inner apexcharts-graphical" transform="translate(43.5, 0)">
        <defs id="SvgjsDefs1161">
          <clipPath id="gridRectMaskbisflxju">
            <rect id="SvgjsRect1163" width="51" height="47" x="-3" y="-1" rx="0" ry="0" opacity="1"
                  stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
          </clipPath>
          <clipPath id="forecastMaskbisflxju"></clipPath>
          <clipPath id="nonForecastMaskbisflxju"></clipPath>
          <clipPath id="gridRectMarkerMaskbisflxju">
            <rect id="SvgjsRect1164" width="49" height="49" x="-2" y="-2" rx="0" ry="0" opacity="1"
                  stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
          </clipPath>
        </defs>
        <g id="SvgjsG1165" class="apexcharts-pie">
          <g id="SvgjsG1166" transform="translate(0, 0) scale(1)">
            <circle id="SvgjsCircle1167" r="12.968292682926831" cx="22.5" cy="22.5"
                    fill="transparent"></circle>
            <g id="SvgjsG1168" class="apexcharts-slices">
              <g id="SvgjsG1169" class="apexcharts-series apexcharts-pie-series" seriesName="series-1"
                 rel="1" data:realIndex="0">
                <path id="SvgjsPath1170"
                      d="M 22.5 2.5487804878048763 A 19.951219512195124 19.951219512195124 0 0 1 39.0688388951336 11.385831668950512 L 33.26974528183684 15.275790584817832 A 12.968292682926831 12.968292682926831 0 0 0 22.5 9.531707317073169 L 22.5 2.5487804878048763 z"
                      fill="rgba(60,210,165, .15)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                      stroke-width="0" stroke-dasharray="0"
                      class="apexcharts-pie-area apexcharts-donut-slice-0" index="0" j="0"
                      data:angle="56.14678899082569" data:startAngle="0" data:strokeWidth="0"
                      data:value="51"
                      data:pathOrig="M 22.5 2.5487804878048763 A 19.951219512195124 19.951219512195124 0 0 1 39.0688388951336 11.385831668950512 L 33.26974528183684 15.275790584817832 A 12.968292682926831 12.968292682926831 0 0 0 22.5 9.531707317073169 L 22.5 2.5487804878048763 z"></path>
              </g>
              <g id="SvgjsG1171" class="apexcharts-series apexcharts-pie-series" seriesName="series-2"
                 rel="2" data:realIndex="1">
                <path id="SvgjsPath1172"
                      d="M 39.0688388951336 11.385831668950512 A 19.951219512195124 19.951219512195124 0 0 1 33.213045766060574 39.33097770297635 L 29.463479747939374 33.440135506934624 A 12.968292682926831 12.968292682926831 0 0 0 33.26974528183684 15.275790584817832 L 39.0688388951336 11.385831668950512 z"
                      fill="rgba(60,210,165, .35)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                      stroke-width="0" stroke-dasharray="0"
                      class="apexcharts-pie-area apexcharts-donut-slice-1" index="0" j="1"
                      data:angle="91.37614678899084" data:startAngle="56.14678899082569"
                      data:strokeWidth="0" data:value="83"
                      data:pathOrig="M 39.0688388951336 11.385831668950512 A 19.951219512195124 19.951219512195124 0 0 1 33.213045766060574 39.33097770297635 L 29.463479747939374 33.440135506934624 A 12.968292682926831 12.968292682926831 0 0 0 33.26974528183684 15.275790584817832 L 39.0688388951336 11.385831668950512 z"></path>
              </g>
              <g id="SvgjsG1173" class="apexcharts-series apexcharts-pie-series" seriesName="series-3"
                 rel="3" data:realIndex="2">
                <path id="SvgjsPath1174"
                      d="M 33.213045766060574 39.33097770297635 A 19.951219512195124 19.951219512195124 0 0 1 10.526249821872852 38.458711310616394 L 14.717062384217353 32.87316235190065 A 12.968292682926831 12.968292682926831 0 0 0 29.463479747939374 33.440135506934624 L 33.213045766060574 39.33097770297635 z"
                      fill="rgba(60,210,165, .55)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                      stroke-width="0" stroke-dasharray="0"
                      class="apexcharts-pie-area apexcharts-donut-slice-2" index="0" j="2"
                      data:angle="69.35779816513761" data:startAngle="147.52293577981652"
                      data:strokeWidth="0" data:value="63"
                      data:pathOrig="M 33.213045766060574 39.33097770297635 A 19.951219512195124 19.951219512195124 0 0 1 10.526249821872852 38.458711310616394 L 14.717062384217353 32.87316235190065 A 12.968292682926831 12.968292682926831 0 0 0 29.463479747939374 33.440135506934624 L 33.213045766060574 39.33097770297635 z"></path>
              </g>
              <g id="SvgjsG1175" class="apexcharts-series apexcharts-pie-series" seriesName="series-4"
                 rel="4" data:realIndex="3">
                <path id="SvgjsPath1176"
                      d="M 10.526249821872852 38.458711310616394 A 19.951219512195124 19.951219512195124 0 0 1 4.762658190098541 13.3655670377129 L 10.97072782356405 16.562618574513383 A 12.968292682926831 12.968292682926831 0 0 0 14.717062384217353 32.87316235190065 L 10.526249821872852 38.458711310616394 z"
                      fill="rgba(60,210,165, .75)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                      stroke-width="0" stroke-dasharray="0"
                      class="apexcharts-pie-area apexcharts-donut-slice-3" index="0" j="3"
                      data:angle="80.36697247706425" data:startAngle="216.88073394495413"
                      data:strokeWidth="0" data:value="73"
                      data:pathOrig="M 10.526249821872852 38.458711310616394 A 19.951219512195124 19.951219512195124 0 0 1 4.762658190098541 13.3655670377129 L 10.97072782356405 16.562618574513383 A 12.968292682926831 12.968292682926831 0 0 0 14.717062384217353 32.87316235190065 L 10.526249821872852 38.458711310616394 z"></path>
              </g>
              <g id="SvgjsG1177" class="apexcharts-series apexcharts-pie-series" seriesName="series-5"
                 rel="5" data:realIndex="4">
                <path id="SvgjsPath1178"
                      d="M 4.762658190098541 13.3655670377129 A 19.951219512195124 19.951219512195124 0 0 1 22.496517855314917 2.5487807916793237 L 22.497736605954696 9.53170751459156 A 12.968292682926831 12.968292682926831 0 0 0 10.97072782356405 16.562618574513383 L 4.762658190098541 13.3655670377129 z"
                      fill="rgba(60,210,165, .95)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                      stroke-width="0" stroke-dasharray="0"
                      class="apexcharts-pie-area apexcharts-donut-slice-4" index="0" j="4"
                      data:angle="62.752293577981675" data:startAngle="297.2477064220184"
                      data:strokeWidth="0" data:value="57"
                      data:pathOrig="M 4.762658190098541 13.3655670377129 A 19.951219512195124 19.951219512195124 0 0 1 22.496517855314917 2.5487807916793237 L 22.497736605954696 9.53170751459156 A 12.968292682926831 12.968292682926831 0 0 0 10.97072782356405 16.562618574513383 L 4.762658190098541 13.3655670377129 z"></path>
              </g>
            </g>
          </g>
        </g>
        <line id="SvgjsLine1179" x1="0" y1="0" x2="45" y2="0" stroke="#b6b6b6" stroke-dasharray="0"
              stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line>
        <line id="SvgjsLine1180" x1="0" y1="0" x2="45" y2="0" stroke-dasharray="0" stroke-width="0"
              stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line>
      </g>
    </svg>
    <div class="apexcharts-tooltip apexcharts-theme-dark">
      <div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker"
                                                                           style="background-color: rgba(60, 210, 165, 0.15);"></span>
        <div class="apexcharts-tooltip-text"
             style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
          <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
            class="apexcharts-tooltip-text-y-value"></span></div>
          <div class="apexcharts-tooltip-goals-group"><span
            class="apexcharts-tooltip-text-goals-label"></span><span
            class="apexcharts-tooltip-text-goals-value"></span></div>
          <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
            class="apexcharts-tooltip-text-z-value"></span></div>
        </div>
      </div>
      <div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker"
                                                                           style="background-color: rgba(60, 210, 165, 0.35);"></span>
        <div class="apexcharts-tooltip-text"
             style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
          <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
            class="apexcharts-tooltip-text-y-value"></span></div>
          <div class="apexcharts-tooltip-goals-group"><span
            class="apexcharts-tooltip-text-goals-label"></span><span
            class="apexcharts-tooltip-text-goals-value"></span></div>
          <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
            class="apexcharts-tooltip-text-z-value"></span></div>
        </div>
      </div>
      <div class="apexcharts-tooltip-series-group" style="order: 3;"><span class="apexcharts-tooltip-marker"
                                                                           style="background-color: rgba(60, 210, 165, 0.55);"></span>
        <div class="apexcharts-tooltip-text"
             style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
          <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
            class="apexcharts-tooltip-text-y-value"></span></div>
          <div class="apexcharts-tooltip-goals-group"><span
            class="apexcharts-tooltip-text-goals-label"></span><span
            class="apexcharts-tooltip-text-goals-value"></span></div>
          <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
            class="apexcharts-tooltip-text-z-value"></span></div>
        </div>
      </div>
      <div class="apexcharts-tooltip-series-group" style="order: 4;"><span class="apexcharts-tooltip-marker"
                                                                           style="background-color: rgba(60, 210, 165, 0.75);"></span>
        <div class="apexcharts-tooltip-text"
             style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
          <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
            class="apexcharts-tooltip-text-y-value"></span></div>
          <div class="apexcharts-tooltip-goals-group"><span
            class="apexcharts-tooltip-text-goals-label"></span><span
            class="apexcharts-tooltip-text-goals-value"></span></div>
          <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
            class="apexcharts-tooltip-text-z-value"></span></div>
        </div>
      </div>
      <div class="apexcharts-tooltip-series-group" style="order: 5;"><span class="apexcharts-tooltip-marker"
                                                                           style="background-color: rgba(60, 210, 165, 0.95);"></span>
        <div class="apexcharts-tooltip-text"
             style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
          <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
            class="apexcharts-tooltip-text-y-value"></span></div>
          <div class="apexcharts-tooltip-goals-group"><span
            class="apexcharts-tooltip-text-goals-label"></span><span
            class="apexcharts-tooltip-text-goals-value"></span></div>
          <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
            class="apexcharts-tooltip-text-z-value"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
