<div class="row">

  <div class="col-xl-3 col-lg-6">
    <app-small-card-info>
      <app-column-chart></app-column-chart>
    </app-small-card-info>
  </div>

  <div class="col-xl-3 col-lg-6">
    <app-small-card-info>
      <app-line-chart></app-line-chart>
    </app-small-card-info>
  </div>

  <div class="col-xl-3 col-lg-6">
    <app-small-card-info>
      <app-pie-chart></app-pie-chart>
    </app-small-card-info>
  </div>

  <div class="col-xl-3 col-lg-6">
    <app-small-card-info>
      <app-donut-chart></app-donut-chart>
    </app-small-card-info>
  </div>


  <div class="col-xl-6">
    <app-corporation-stats></app-corporation-stats>
  </div>


  <div class="col-xl-6">
    <app-global-activity></app-global-activity>
  </div>


  <div class="col-xl-6">
    <app-my-activity-log></app-my-activity-log>
  </div>


  <div class="col-xl-6">
    <app-global-activity-log></app-global-activity-log>
  </div>

</div>
