<div class="mt-n3 mb-n2" data-render="apexchart" data-type="pie" data-title="Visitors" data-height="45"
     style="min-height: 41.9px;">
  <div id="apexcharts6tu6h6sxf" class="apexcharts-canvas apexcharts6tu6h6sxf apexcharts-theme-light"
       style="width: 132px; height: 41.9px;">
    <svg id="SvgjsSvg1144" width="132" height="41.9" xmlns="http://www.w3.org/2000/svg" version="1.1"
         class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"
         style="background: transparent;">
      <foreignObject x="0" y="0" width="132" height="41.9">
        <div class="apexcharts-legend" xmlns="http://www.w3.org/1999/xhtml"></div>
      </foreignObject>
      <g id="SvgjsG1146" class="apexcharts-inner apexcharts-graphical" transform="translate(43.5, 0)">
        <defs id="SvgjsDefs1145">
          <clipPath id="gridRectMask6tu6h6sxf">
            <rect id="SvgjsRect1147" width="51" height="47" x="-3" y="-1" rx="0" ry="0" opacity="1"
                  stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
          </clipPath>
          <clipPath id="forecastMask6tu6h6sxf"></clipPath>
          <clipPath id="nonForecastMask6tu6h6sxf"></clipPath>
          <clipPath id="gridRectMarkerMask6tu6h6sxf">
            <rect id="SvgjsRect1148" width="49" height="49" x="-2" y="-2" rx="0" ry="0" opacity="1"
                  stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
          </clipPath>
        </defs>
        <g id="SvgjsG1149" class="apexcharts-pie">
          <g id="SvgjsG1150" transform="translate(0, 0) scale(1)">
            <g id="SvgjsG1151" class="apexcharts-slices">
              <g id="SvgjsG1152" class="apexcharts-series apexcharts-pie-series" seriesName="series-1"
                 rel="1" data:realIndex="0">
                <path id="SvgjsPath1153"
                      d="M 22.5 2.5487804878048763 A 19.951219512195124 19.951219512195124 0 0 1 40.88129750970727 14.742483523483504 L 22.5 22.5 L 22.5 2.5487804878048763"
                      fill="rgba(60,210,165, 1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                      stroke-width="0" stroke-dasharray="0"
                      class="apexcharts-pie-area apexcharts-pie-slice-0" index="0" j="0"
                      data:angle="67.11864406779661" data:startAngle="0" data:strokeWidth="0"
                      data:value="33"
                      data:pathOrig="M 22.5 2.5487804878048763 A 19.951219512195124 19.951219512195124 0 0 1 40.88129750970727 14.742483523483504 L 22.5 22.5 L 22.5 2.5487804878048763"></path>
              </g>
              <g id="SvgjsG1154" class="apexcharts-series apexcharts-pie-series" seriesName="series-2"
                 rel="2" data:realIndex="1">
                <path id="SvgjsPath1155"
                      d="M 40.88129750970727 14.742483523483504 A 19.951219512195124 19.951219512195124 0 0 1 12.678117960479073 39.86611048063243 L 22.5 22.5 L 40.88129750970727 14.742483523483504"
                      fill="rgba(60,210,165, .75)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                      stroke-width="0" stroke-dasharray="0"
                      class="apexcharts-pie-area apexcharts-pie-slice-1" index="0" j="1"
                      data:angle="142.37288135593224" data:startAngle="67.11864406779661"
                      data:strokeWidth="0" data:value="70"
                      data:pathOrig="M 40.88129750970727 14.742483523483504 A 19.951219512195124 19.951219512195124 0 0 1 12.678117960479073 39.86611048063243 L 22.5 22.5 L 40.88129750970727 14.742483523483504"></path>
              </g>
              <g id="SvgjsG1156" class="apexcharts-series apexcharts-pie-series" seriesName="series-3"
                 rel="3" data:realIndex="2">
                <path id="SvgjsPath1157"
                      d="M 12.678117960479073 39.86611048063243 A 19.951219512195124 19.951219512195124 0 0 1 22.496517855314917 2.5487807916793237 L 22.5 22.5 L 12.678117960479073 39.86611048063243"
                      fill="rgba(60,210,165, .5)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                      stroke-width="0" stroke-dasharray="0"
                      class="apexcharts-pie-area apexcharts-pie-slice-2" index="0" j="2"
                      data:angle="150.50847457627117" data:startAngle="209.49152542372883"
                      data:strokeWidth="0" data:value="74"
                      data:pathOrig="M 12.678117960479073 39.86611048063243 A 19.951219512195124 19.951219512195124 0 0 1 22.496517855314917 2.5487807916793237 L 22.5 22.5 L 12.678117960479073 39.86611048063243"></path>
              </g>
            </g>
          </g>
        </g>
        <line id="SvgjsLine1158" x1="0" y1="0" x2="45" y2="0" stroke="#b6b6b6" stroke-dasharray="0"
              stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line>
        <line id="SvgjsLine1159" x1="0" y1="0" x2="45" y2="0" stroke-dasharray="0" stroke-width="0"
              stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line>
      </g>
    </svg>
    <div class="apexcharts-tooltip apexcharts-theme-dark">
      <div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker"
                                                                           style="background-color: rgb(60, 210, 165);"></span>
        <div class="apexcharts-tooltip-text"
             style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
          <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
            class="apexcharts-tooltip-text-y-value"></span></div>
          <div class="apexcharts-tooltip-goals-group"><span
            class="apexcharts-tooltip-text-goals-label"></span><span
            class="apexcharts-tooltip-text-goals-value"></span></div>
          <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
            class="apexcharts-tooltip-text-z-value"></span></div>
        </div>
      </div>
      <div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker"
                                                                           style="background-color: rgba(60, 210, 165, 0.75);"></span>
        <div class="apexcharts-tooltip-text"
             style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
          <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
            class="apexcharts-tooltip-text-y-value"></span></div>
          <div class="apexcharts-tooltip-goals-group"><span
            class="apexcharts-tooltip-text-goals-label"></span><span
            class="apexcharts-tooltip-text-goals-value"></span></div>
          <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
            class="apexcharts-tooltip-text-z-value"></span></div>
        </div>
      </div>
      <div class="apexcharts-tooltip-series-group" style="order: 3;"><span class="apexcharts-tooltip-marker"
                                                                           style="background-color: rgba(60, 210, 165, 0.5);"></span>
        <div class="apexcharts-tooltip-text"
             style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
          <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
            class="apexcharts-tooltip-text-y-value"></span></div>
          <div class="apexcharts-tooltip-goals-group"><span
            class="apexcharts-tooltip-text-goals-label"></span><span
            class="apexcharts-tooltip-text-goals-value"></span></div>
          <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
            class="apexcharts-tooltip-text-z-value"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
