<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex fw-bold small mb-3">
      <span class="flex-grow-1">Заголовок</span>
      <a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i
        class="bi bi-fullscreen"></i></a>
    </div>
    <div class="row align-items-center mb-2">
      <div class="col-7">
        <h3 class="mb-0">49sm</h3>
      </div>
      <div class="col-5">
        <ng-content></ng-content>
      </div>
    </div>


    <div class="small text-inverse text-opacity-50 text-truncate">
      <i class="fa fa-chevron-up fa-fw me-1"></i> 33.3% быстрее<br>
      <i class="far fa-user fa-fw me-1"></i> 45.5% выше<br>
      <i class="far fa-times-circle fa-fw me-1"></i> 3.25% сильнее
    </div>

  </div>
  <div class="card-arrow">
    <div class="card-arrow-top-left"></div>
    <div class="card-arrow-top-right"></div>
    <div class="card-arrow-bottom-left"></div>
    <div class="card-arrow-bottom-right"></div>
  </div>
</div>
