<div class="mt-n2" data-render="apexchart" data-type="line" data-title="Visitors" data-height="30"
     style="min-height: 30px;">
  <div id="apexchartsgourrluq" class="apexcharts-canvas apexchartsgourrluq apexcharts-theme-light"
       style="width: 132px; height: 30px;">
    <svg id="SvgjsSvg1081" width="132" height="30" xmlns="http://www.w3.org/2000/svg" version="1.1"
         class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"
         style="background: transparent;">
      <foreignObject x="0" y="0" width="132" height="30">
        <div class="apexcharts-legend" xmlns="http://www.w3.org/1999/xhtml" style="max-height: 15px;"></div>
      </foreignObject>
      <rect id="SvgjsRect1086" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0"
            stroke="none" stroke-dasharray="0" fill="#fefefe"></rect>
      <g id="SvgjsG1139" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g>
      <g id="SvgjsG1083" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)">
        <defs id="SvgjsDefs1082">
          <clipPath id="gridRectMaskgourrluq">
            <rect id="SvgjsRect1088" width="138" height="32" x="-3" y="-1" rx="0" ry="0" opacity="1"
                  stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
          </clipPath>
          <clipPath id="forecastMaskgourrluq"></clipPath>
          <clipPath id="nonForecastMaskgourrluq"></clipPath>
          <clipPath id="gridRectMarkerMaskgourrluq">
            <rect id="SvgjsRect1089" width="136" height="34" x="-2" y="-2" rx="0" ry="0" opacity="1"
                  stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
          </clipPath>
        </defs>
        <line id="SvgjsLine1087" x1="0" y1="0" x2="0" y2="30" stroke="#b6b6b6" stroke-dasharray="3"
              stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="30"
              fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line>
        <line id="SvgjsLine1099" x1="0" y1="30" x2="0" y2="36" stroke="rgba(255,255,255, .25)"
              stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
        <line id="SvgjsLine1100" x1="11" y1="30" x2="11" y2="36" stroke="rgba(255,255,255, .25)"
              stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
        <line id="SvgjsLine1101" x1="22" y1="30" x2="22" y2="36" stroke="rgba(255,255,255, .25)"
              stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
        <line id="SvgjsLine1102" x1="33" y1="30" x2="33" y2="36" stroke="rgba(255,255,255, .25)"
              stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
        <line id="SvgjsLine1103" x1="44" y1="30" x2="44" y2="36" stroke="rgba(255,255,255, .25)"
              stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
        <line id="SvgjsLine1104" x1="55" y1="30" x2="55" y2="36" stroke="rgba(255,255,255, .25)"
              stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
        <line id="SvgjsLine1105" x1="66" y1="30" x2="66" y2="36" stroke="rgba(255,255,255, .25)"
              stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
        <line id="SvgjsLine1106" x1="77" y1="30" x2="77" y2="36" stroke="rgba(255,255,255, .25)"
              stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
        <line id="SvgjsLine1107" x1="88" y1="30" x2="88" y2="36" stroke="rgba(255,255,255, .25)"
              stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
        <line id="SvgjsLine1108" x1="99" y1="30" x2="99" y2="36" stroke="rgba(255,255,255, .25)"
              stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
        <line id="SvgjsLine1109" x1="110" y1="30" x2="110" y2="36" stroke="rgba(255,255,255, .25)"
              stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
        <line id="SvgjsLine1110" x1="121" y1="30" x2="121" y2="36" stroke="rgba(255,255,255, .25)"
              stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
        <line id="SvgjsLine1111" x1="132" y1="30" x2="132" y2="36" stroke="rgba(255,255,255, .25)"
              stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
        <g id="SvgjsG1095" class="apexcharts-grid">
          <g id="SvgjsG1096" class="apexcharts-gridlines-horizontal" style="display: none;">
            <line id="SvgjsLine1112" x1="0" y1="0" x2="132" y2="0" stroke="rgba(255,255,255, .25)"
                  stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
            <line id="SvgjsLine1113" x1="0" y1="5" x2="132" y2="5" stroke="rgba(255,255,255, .25)"
                  stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
            <line id="SvgjsLine1114" x1="0" y1="10" x2="132" y2="10" stroke="rgba(255,255,255, .25)"
                  stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
            <line id="SvgjsLine1115" x1="0" y1="15" x2="132" y2="15" stroke="rgba(255,255,255, .25)"
                  stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
            <line id="SvgjsLine1116" x1="0" y1="20" x2="132" y2="20" stroke="rgba(255,255,255, .25)"
                  stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
            <line id="SvgjsLine1117" x1="0" y1="25" x2="132" y2="25" stroke="rgba(255,255,255, .25)"
                  stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
            <line id="SvgjsLine1118" x1="0" y1="30" x2="132" y2="30" stroke="rgba(255,255,255, .25)"
                  stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
          </g>
          <g id="SvgjsG1097" class="apexcharts-gridlines-vertical" style="display: none;"></g>
          <line id="SvgjsLine1120" x1="0" y1="30" x2="132" y2="30" stroke="transparent" stroke-dasharray="0"
                stroke-linecap="butt"></line>
          <line id="SvgjsLine1119" x1="0" y1="1" x2="0" y2="30" stroke="transparent" stroke-dasharray="0"
                stroke-linecap="butt"></line>
        </g>
        <g id="SvgjsG1090" class="apexcharts-line-series apexcharts-plot-series">
          <g id="SvgjsG1091" class="apexcharts-series" seriesName="Visitors" data:longestSeries="true"
             rel="1" data:realIndex="0">
            <path id="SvgjsPath1094"
                  d="M0 20L11 8L22 2.5L33 17.5L44 7L55 13L66 28L77 24.5L88 16L99 16L110 9L121 12.5L132 25C132 25 132 25 132 25 "
                  fill="none" fill-opacity="1" stroke="rgba(60,210,165,0.85)" stroke-opacity="1"
                  stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-line"
                  index="0" clip-path="url(#gridRectMaskgourrluq)"
                  pathTo="M 0 20 L 11 8 L 22 2.5 L 33 17.5 L 44 7 L 55 13 L 66 28 L 77 24.5 L 88 16 L 99 16 L 110 9 L 121 12.5 L 132 25"
                  pathFrom="M -1 45 L -1 45 L 11 45 L 22 45 L 33 45 L 44 45 L 55 45 L 66 45 L 77 45 L 88 45 L 99 45 L 110 45 L 121 45 L 132 45"
                  fill-rule="evenodd"></path>
            <g id="SvgjsG1092" class="apexcharts-series-markers-wrap apexcharts-hidden-element-shown"
               data:realIndex="0">
              <g class="apexcharts-series-markers">
                <circle id="SvgjsCircle1143" r="0" cx="0" cy="0"
                        class="apexcharts-marker wurcpdytwh no-pointer-events" stroke="#ffffff"
                        fill="#3cd2a5" fill-opacity="1" stroke-width="2" stroke-opacity="0.9"
                        default-marker-size="0"></circle>
              </g>
            </g>
          </g>
          <g id="SvgjsG1093" class="apexcharts-datalabels" data:realIndex="0"></g>
        </g>
        <g id="SvgjsG1098" class="apexcharts-grid-borders" style="display: none;"></g>
        <line id="SvgjsLine1121" x1="0" y1="0" x2="132" y2="0" stroke="#b6b6b6" stroke-dasharray="0"
              stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line>
        <line id="SvgjsLine1122" x1="0" y1="0" x2="132" y2="0" stroke-dasharray="0" stroke-width="0"
              stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line>
        <g id="SvgjsG1123" class="apexcharts-xaxis" transform="translate(0, 0)">
          <g id="SvgjsG1124" class="apexcharts-xaxis-texts-g" transform="translate(0, 4)"></g>
          <line id="SvgjsLine1138" x1="0" y1="30" x2="132" y2="30" stroke="rgba(255,255,255, .25)"
                stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"></line>
        </g>
        <g id="SvgjsG1140" class="apexcharts-yaxis-annotations apexcharts-hidden-element-shown"></g>
        <g id="SvgjsG1141" class="apexcharts-xaxis-annotations apexcharts-hidden-element-shown"></g>
        <g id="SvgjsG1142" class="apexcharts-point-annotations apexcharts-hidden-element-shown"></g>
      </g>
    </svg>
    <div class="apexcharts-tooltip apexcharts-theme-dark">
      <div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker"
                                                                           style="background-color: rgb(60, 210, 165);"></span>
        <div class="apexcharts-tooltip-text"
             style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
          <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
            class="apexcharts-tooltip-text-y-value"></span></div>
          <div class="apexcharts-tooltip-goals-group"><span
            class="apexcharts-tooltip-text-goals-label"></span><span
            class="apexcharts-tooltip-text-goals-value"></span></div>
          <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
            class="apexcharts-tooltip-text-z-value"></span></div>
        </div>
      </div>
    </div>
    <div
      class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-dark">
      <div class="apexcharts-yaxistooltip-text"></div>
    </div>
  </div>
</div>
